<h1>Share <%= @list.name %></h1>

<%= link_to "Back to list", list_path(params[:list_id]), class: "pull-right" %>

<%= form_for @users_list, url: users_lists_path(list_id: params[:list_id]) do |f| %>
  <%= f.hidden_field :list_id, value: @list.id %>
  <div class="form-group">
    <%= f.label :user_id, "Select who you would like to share this list with:" %>
    <%= f.collection_select :user_id, User.unattached_to_list(@list), :id, :first_name, { prompt: true }, { class: "form-control" } %>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
