<%= form_for @item, url: url do |f| %>
  <%= render "shared/alert", invalid_object: @item, name: "item" %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :purchased, value: false %>

  <div class="form-group" id="new-item">
    <%= f.label :name do %>
      Add a new item
    <% end %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <% if current_page? action: "new" %>
    <div class="form-group" id="old-item">
      <%= f.label :name do %>
        Or select an item from another list
      <% end %>
      <%= f.collection_select :name, Item.all, :name, :name, { prompt: true }, { class: "form-control" } %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :quantity %>
    <%= f.number_field :quantity, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :quantity_name %>
    <%= f.text_field :quantity_name, class: "form-control" %>
    <small class="help-block text-muted">This is meant to be used in conjunction with quantity. For example "1 bag" or "12 ounces".</small>
  </div>

  <%= f.submit "Submit", class: "btn btn-primary" %>
  <%= link_to "Back to list", list_path(@list), class: "btn btn-secondary" %>
<% end %>

<script>
  $('#item_name').on('focus', function() {
    $('#old-item').remove();
  });
  $('#old-item').on('change', function() {
    $('#new-item').remove();
  });
</script>
