<%= form_for @item, url: url do |f| %>
  <% if @item.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="alert-heading">
        <%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:
      </h4>

      <ul class="mb-0">
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :purchased, value: false %>

  <div class="form-group" id="new-item">
    <%= f.label :name do %>
      Add a new item
    <% end %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :quantity %>
    <%= f.number_field :quantity, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :quantity_name %>
    <%= f.text_field :quantity_name, class: "form-control" %>
    <small class="help-block text-muted">This is meant to be used in conjunction with quantity. For example "1 bag" or "12 ounces".</small>
  </div>

  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>

<script>
  var items = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: {
      url: '/items/autocomplete?name=%QUERY',
      wildcard: '%QUERY'
    }
  });
  $('#item_name').typeahead({
    hint: true,
    highlight: true,
    minLength: 1
  }, {
    name: 'items',
    source: items
  });
</script>
