<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Groceries</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path 'favicon/apple-touch-icon.png' %>">
    <link rel="icon" type="image/png" href="<%= asset_path 'favicon/favicon-32x32.png' %>" sizes="32x32">
    <link rel="icon" type="image/png" href="<%= asset_path 'favicon/favicon-16x16.png' %>" sizes="16x16">
    <link rel="manifest" href="<%= asset_path 'favicon/manifest.json' %>">
    <link rel="shortcut icon" href="<%= asset_path 'favicon/favicon.ico' %>">
    <meta name="apple-mobile-web-app-title" content="Groceries">
    <meta name="application-name" content="Groceries">
    <meta name="msapplication-config" content="<%= asset_path 'favicon/browserconfig.xml' %>">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>
    <div class="container">
      <!-- TODO: move into react app -->
      <%= react_component('Alert', props: { text: notice, alert_class: 'info', show: true }) if notice %>
      <%= react_component('Alert', props: { text: alert, alert_class: 'warning', show: true }) if alert %>
      <!-- end TODO -->
      <%= yield %>
    </div>
  </body>
</html>
